.header{
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1px;
   
}  
.horizontal-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
  
}
.nav{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}
.line-1{
    width: 30px;
    height: 5px;
    background-color: black;
}
.line-2{
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 5px 0px;
}
.line-3{
    width: 30px;
    height: 5px;
    background-color: black;
}
.burger{
    display: none;
    position: relative;
}
.button{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    background-color: blue;
    width: 130px;
    height: 30px;
}
.clear{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 50px;
    background-color: blue;
    height: 50px;
    width: 150px;
}

.fa-trash{
    font-size: 20px;
    margin-left: 10px;
}
.list{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 50px;
}
form input{
    width: 300px;
    height: 30px;
    background-color: green;

}
::placeholder{
    color: black;
    font-size: 20px;
}
